@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --colorPrimary: hsl(214, 70%, 50%);
  --colorSecondary: hsl(214, 70%, 60%);
  --colorDark: #111827;
  --colorMedium: #545964;
  --colorLight: #ece9e9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.heading {
  color: var(--colorPrimary);
  margin-top: 2rem;
  font-size: 1.75rem;
}

.label {
  font-weight: 700;
  margin: 1rem 0;
  font-size: 1.25rem;
}

.input {
  text-align: center;
  font-size: 1rem;
  margin: auto;
  width: auto;
  height: 10%;
  padding: 0.5rem;
  border-radius: 1em;
  border: 2px solid var(--colorPrimary);
}

#check-button {
  background-color: var(--colorPrimary);
  color: var(--colorLight);
  font-size: 1rem;
  margin: 1rem auto;
  min-width: 5rem;
  height: 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

caption {
  margin: 0.6rem;
  font-weight: bold;
  font-size: 1.5em;
}

p {
  font-size: larger;
}

#output {
  font-weight: bold;
}

/* Footer Start */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-links li a {
  color: var(--dark);
  padding: 1rem;
  display: block;
  font-weight: bold;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Footer End */
